# Ignore virtual environment
.venv/
venv/
env/

# Ignore Python cache
__pycache__/
*.py[cod]
*.so

# Ignore Expo and Node modules
.expo/
node_modules/
npm-debug.log
yarn-error.log

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore large media/data not needed for code
*.mp4
*.MOV
*.mp3

# Ignore sensitive files (if any)
.env
